---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import profileImage from "../assets/profile.jpg";
---

<Layout title="rieger.sh">
  <main class="main">
    <h1 class="headline">Hello there.</h1>
    <div class="card">
      <Image
        class="profile"
        src={profileImage}
        alt="Alex Rieger"
        width={120}
        height={120}
        fit="cover"
      />
      <p>
        I'm interested in Vue, Node.js, Kotlin and Go.<br />
        Currently working at <a href="https://it.schwarz/" target="_blank"
          >Schwarz IT</a
        >.
      </p>
    </div>
    <p class="socials">
      Find me on:
      <a href="https://github.com/alex-rieger" target="_blank">Github</a> &
      <a
        href="https://www.linkedin.com/in/alexander-rieger-578598154/"
        target="_blank">LinkedIn</a
      >
    </p>
  </main>
</Layout>
