---
export interface Props {
	text: string;
	href: string;
}

const { href, text } = Astro.props as Props;
---
<a class="button" href={href} target="_blank" rel="noopener noreferrer">
    <span class="icon">
        <slot/>
    </span> <span class="button-text">{text}</span>
</a>

<style>
    :root {
		--link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
	}
    .icon {
        display: block;
        width: 2rem;
        height: 2rem;
    }
    .button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        padding: .35rem;
        background-image: var(--link-gradient);
		background-size: 400%;
        transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        border-radius: .35rem;
    }
    .button-text {
        margin-left: 1rem;
    }
</style>