---

---
<span class="caret">&#10074;</span>

<style>
    @keyframes caret {
		from { opacity: 0; }
		to { visibility: 100%; }
	}
	.caret {
		visibility: visible;
		animation-name: caret;
		animation-iteration-count: infinite;
		animation-direction: alternate-reverse;
		animation-duration: .5s;
	}
</style>