---

---
<div class="terminal">
    <div class="terminal-bar">
        <span class="terminal-button"></span>
        <span class="terminal-button"></span>
        <span class="terminal-button"></span>
    </div>
    <div class="terminal-content">
        <slot/>
    </div>
</div>

<style>
	:root {
		--color-red: rgb(150, 4, 48);
		--color-yellow: rgb(214, 194, 15);
		--color-green: rgb(10, 143, 55);
		--color-text: white;
		--color-background: rgba(0, 0, 0, 0.596);
		--color-background-bar: rgb(136, 136, 136);
	}
    .terminal {
		text-align: left;
		background: var(--color-background);
		color:  var(--color-text);
		display: block;
		border-radius: .35rem;
		margin: 0 0 1rem 0;
	}
	.terminal-bar {
		padding: 0.5rem 0.35rem 0.35rem 0.35rem;
		background:  var(--color-background-bar);
		border-top-left-radius: .35rem;
		border-top-right-radius: .35rem;
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
	}
	.terminal-button {
		width: .8rem;
		height: .8rem;
		margin:0 .35rem 0 0;
		background:blue;
		display: block;
		border-radius: 50%;
	}
	.terminal-button:nth-child(1) {
		background:  var(--color-red);
	}
	.terminal-button:nth-child(2) {
		background:  var(--color-yellow);
	}
	.terminal-button:nth-child(3) {
		background:  var(--color-green);
	}
	.terminal-content {
		padding: 0.65rem;
		line-height: 1.7rem;
	}
</style>